@import url(//db.onlinewebfonts.com/c/4d138feded0a0dc57c384e7976428aa9?family=Abadi+MT+Std);

body {
    width: 100vw;
    height: 100vh;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#title {
    width: 90%;
    height: 20%;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    line-height: 45px;
    letter-spacing: -0.004em;
    color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    font-style: italic;
}

.red {
    color: #f50000;
}

#counters {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#timer {
    width: 80px;
    height: 40px;
    background-color: #1a1a1a;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;

}

#moveCounter {
    width: 90px;
    height: 40px;
    background-color: #1a1a1a;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentSpace {
    width: 85%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


button {
    width: 50px;
    height: 30px;
}

.card {
    width: 150px;
    height: 100px;
    margin: 2px;
    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    background: white;
    border: 1px solid #1a1a1a;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    position: absolute;
}

img {
    width: 140px;
    background-size: cover;
}

.frontFace {
    transform: rotateX(180deg);
}

.turnFrontFace {
    transform: rotateX(0deg);
}

.turnBackFace {
    transform: rotateX(-180deg);
}