body {
    width: 100vw;
    height: 100vh;
    background: #EEF9BF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
}

#contentSpace {
    width: 70%;
    height: 70%;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

button {
    width: 50px;
    height: 30px;
}

.card {
    width: 120px;
    height: 150px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 100px;
    width: 100px;
    background-size: cover;
}

.unturned {

}

.backFace {
    
    
}

.frontFace {
    
}